#ChatbotBox.show {
  display: block;
}

#ChatbotBox {
  display: none;
}

.chatbot-box__area {
  position: relative;
  cursor: pointer;
  display: table;
  padding: 7px 10px;
  border-radius: 1000px;
  border: 2px solid #eee;
  background: #fff;
  margin-top: 10px;
  float: right;
  clear: both;
  transition: background 0.2s;
  animation: chat-up 0.4s ease-in-out;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  top: 5px;
  opacity: 0;

  &:hover {
    background: #f5f5f5;
  }

  &.introduce {
    margin: 0 auto;
    margin-top: 10px;
    float: inherit;
    background: #555;
    color: #fff;

    .chatbot-box__area__contents__text {
      font-size: 12px !important;
    }
  }

  &__contents {
    &__text {
      font-family: "Noto Sans KR", serif, Arial;
      font-size: 14px;
      font-weight: 700;
    }

    &__end {
      position: relative;
      font-family: "Noto Sans KR", serif, Arial;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      color: #555;
      margin: 20px 0;
      margin-bottom: 25px;
      animation: chat-up 0.4s ease-in-out;
      animation-delay: 0.4s;
      animation-fill-mode: forwards;
      top: 5px;
      opacity: 0;
    }
  }
}
