.community-view-feed-like__area {
  &__contents {
    cursor: pointer;
    position: relative;
    display: table;
    width: 80px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    border: 2px solid #eee;
    text-align: center;
    padding-bottom: 5px;
    border-radius: 15px;
    opacity: 0.5;
    transition: opacity 0.2s;

    img {
      width: 30px;
      height: 30px;
    }
    span {
      font-size: 19px;
      font-weight: 900;
      color: #555;
    }

    &:hover {
      opacity: 1;
    }

    &.fill {
      opacity: 1 !important;
    }
  }
}

@media (max-width: 768px) {
  .community-view-feed-like__area {
    &__contents {
      width: 69px;
      margin-top: 65px;
      padding: 10px 10px;

      img {
        width: 20px;
        height: 20px;
      }
      span {
        font-size: 14px;
      }
    }
  }
}
