.community-view-feed-like__area {
  &__contents {
    cursor: pointer;
    position: relative;
    display: table;
    width: 100px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 15px 15px;
    border: 3px solid #eee;
    text-align: center;
    padding-bottom: 5px;
    border-radius: 15px;
    opacity: 0.5;
    transition: opacity 0.2s;

    img {
      width: 40px;
      height: 40px;
    }
    span {
      font-size: 24px;
      font-weight: 900;
      color: #555;
    }

    &:hover {
      opacity: 1;
    }

    &.fill {
      opacity: 1 !important;
    }
  }
}
