.my-page-view-consulting__area {
  width: calc(100% - 400px);
  float: left;
  margin-left: 100px;
  padding: 50px;
  background: #fff;
  border-radius: 15px;
  min-height: 70vh;
  border: 2px solid #eee;
}
