#Login.active {
  .login__area {
    visibility: visible;
    opacity: 1;

    &__contents {
      top: 50%;
    }
  }
}

.login__area {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  &__fade {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #232323;
    opacity: 0.7;
  }

  &__contents {
    position: absolute;
    width: 460px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    border-radius: 15px;
    background: #232323;
    z-index: 2;
    transition: top 0.8s ease-in-out;

    &__logo {
      font-size: 22px;
      color: #fff;
      letter-spacing: 0.03em;
      font-weight: 900;

      img {
        position: relative;
        float: left;
        width: 30px;
        height: 30px;
        top: 2.5px;
        margin-right: 10px;
      }
    }

    &__close {
      cursor: pointer;
      position: absolute;
      right: 30px;
      top: 32px;
      height: 32px;
      border-radius: 1000px;
      border: 2px solid #eee;
      padding: 5px;
    }

    &__title {
      font-family: "Noto Sans KR", serif, Arial;
      font-size: 14px;
      color: #fff;
      font-weight: 700;
      line-height: 1;
      margin-top: 15px;
    }

    &__form {
      margin-top: 20px;

      &__context {
        margin-top: 15px;
        &__label {
          font-size: 17px;
          font-weight: 700;
        }

        &__input {
          font-family: "Noto Sans KR", serif, Arial;
          font-size: 17px;
          padding: 10px 15px;
          border-radius: 15px;
          margin-top: 0px;
          width: 100%;
          background: #fff;
          border: none;
          box-shadow: none;
          font-weight: 600;
        }
      }

      &__buttons {
        list-style: none;
        padding: 0;
        margin: 0;

        &__button {
          cursor: pointer;
          font-family: "Noto Sans KR", serif, Arial;
          width: calc(50% - 7.5px);
          margin-right: 15px;
          font-size: 16px;
          font-weight: 700;
          color: #fff;
          background: #007e62;
          text-align: center;
          padding: 15px 30px;
          border-radius: 15px;
          float: left;
          margin-top: 30px;

          &.login {
            border: none;
          }

          &.regist {
            background: #3274a2;
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .login__area {
    &__fade {
      background: #555;
      opacity: 0.7;
    }

    &__contents {
      width: 290px;
      padding: 20px 15px;
      border-radius: 15px;

      &__logo {
        font-size: 17px;

        img {
          width: 22px;
          height: 22px;
          margin-top: -1px;
        }
      }

      &__close {
        right: 15px;
        top: 22px;
        height: 22px;
        border-radius: 1000px;
        border: 2px solid #eee;
        padding: 2px;
      }

      &__title {
        font-size: 12px;
        margin-top: 15px;
      }

      &__form {
        margin-top: 20px;

        &__context {
          margin-top: 10px;
          &__label {
            font-size: 14px;
            font-weight: 700;
          }

          &__input {
            font-size: 14px;
            padding: 9px 15px;
            border-radius: 15px;
          }
        }

        &__buttons {
          &__button {
            font-size: 12px;
            padding: 10px 20px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
