.card-list__area {
  &__contents {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 30px;
    padding-top: 50px;

    &__title {
      position: relative;
      display: table;
      margin: 0 auto;
      margin-top: 100px;
      overflow: hidden;

      span {
        font-size: 24px;
        font-weight: 900;
        color: #232323;
      }
    }

    &__lists {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 50px;
      padding-top: 10px;

      li {
        width: calc(20% - 24px);
        margin-right: 30px;
        float: left;
        position: relative;
        transition: top 0.2s;
        top: 0;
        border-radius: 15px;
        overflow: hidden;

        &:hover {
          top: -10px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .card-list__area {
    &__contents {
      &__lists {
        li {
          width: calc(33.33% - 24px);
          margin-right: 30px;
          margin-bottom: 30px;

          &:hover {
            top: -10px;
          }

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .card-list__area {
    &__contents {
      padding: 30px 15px;
      padding-top: 0px;

      &__title {
        span {
          font-size: 17px;
        }
      }
      &__lists {
        margin-top: 15px;

        li {
          width: calc(50% - 7.5px);
          margin-right: 15px;
          margin-bottom: 15px;
          border-radius: 10px;

          &:hover {
            top: 0;
          }

          &:nth-child(3n) {
            margin-right: 15px;
          }

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
