#Header.community {
  .header-user__area {
    &__contents {
      span {
        color: #fff;
      }
    }
  }
}
.header-user__area {
  &__contents {
    &__thumbnail {
      position: relative;
      width: 24px;
      height: 24px;
      overflow: hidden;
      border-radius: 1000px;
      float: left;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    span {
      font-family: "Noto Sans KR", serif, Arial;
      cursor: pointer;
      font-size: 14px;
      color: #232323;
      margin-left: 7px;
      font-weight: 700;
      transition: color 0.4s;
    }
  }
}
