.my-page-feed-box__area {
  position: relative;
  cursor: pointer;
  width: 100%;
  margin-right: 50px;
  margin-top: 50px;
  top: 0;
  transition: top 0.2s;
  border-radius: 15px;
  background: #fff;
  border: 2px solid #eee;

  &:hover {
    top: -5px;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &__contents {
    &__thumbnail {
      position: relative;
      width: 100%;
      padding-top: 56%;
      overflow: hidden;
      border-radius: 15px 15px 0 0;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__info {
      padding: 30px;

      &__title {
        font-size: 22px;
        font-weight: 900;
        height: 62px;
        width: 90%;
        overflow: hidden;
        line-height: 1.4em;
        margin-top: 15px;
      }

      &__type {
        font-family: "Noto Sans KR", serif, Arial;
        font-size: 14px;
        color: #555;
        font-weight: 700;
      }

      &__description {
        font-family: "Noto Sans KR", serif, Arial;
        font-size: 14px;
        margin-top: 30px;
        height: 44px;
        overflow: hidden;
        font-weight: 700;
        color: #555;

        * {
          font-family: "Noto Sans KR", serif, Arial;
          font-size: 14px !important;
        }

        img {
          display: none !important;
        }

        .se-video-container {
          display: none !important;
        }
      }

      &__view {
        position: relative;
        overflow: hidden;
        font-size: 17px;
        margin-top: 50px;
        font-weight: 900;
        opacity: 0.7;

        img {
          position: relative;
          width: 13px;
          height: 13px;
          top: -7px;
          margin-left: 5px;
        }
      }
    }

    &__user {
      padding: 15px 30px;
      border-top: 2px solid #eee;
      &__thumbnail {
        position: relative;
        width: 44px;
        height: 44px;
        border-radius: 1000px;
        overflow: hidden;
        background: #eee;
        float: left;

        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.4s;
        }
      }

      &__info {
        float: left;
        margin-left: 15px;

        &__nickname {
          font-family: "Noto Sans KR", serif, Arial;
          font-size: 15px;
          font-weight: 700;
          color: #555;

          span {
            font-family: "Noto Sans KR", serif, Arial;
            font-size: 15px;
            font-weight: 700;
            color: #232323;
          }
        }

        &__date {
          font-weight: 700;
          font-family: "Noto Sans KR", serif, Arial;
          font-size: 12px;
          color: #555;

          span {
            font-family: "Noto Sans KR", serif, Arial;
            font-size: 12px;
            font-weight: 700;
            color: #232323;
          }
        }

        &__likes {
          position: absolute;
          right: 30px;
          bottom: 13px;
          text-align: center;
          font-size: 14px;
          font-weight: 900;
          color: #555;

          img {
            width: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .my-page-feed-box__area {
    width: 100%;
    margin-right: 0;
    margin-top: 30px;

    &__contents {
      &__pro {
        padding: 10px;

        &__thumbnail {
          width: 40px;
          height: 40px;
        }

        &__name {
          width: calc(100% - 55px);
          font-size: 12px;
          margin-left: 15px;
          margin-top: 2px;
        }
      }

      &__info {
        padding: 15px;

        &__date {
          font-size: 12px;

          span {
            font-size: 12px;
          }
        }

        &__title {
          font-size: 17px;
          height: auto;
        }

        &__description {
          margin-top: 10px;
          height: 44px;
          line-height: 1.2em;

          * {
            font-family: "Noto Sans KR", serif, Arial;
            font-size: 14px !important;
          }
        }

        &__view {
          font-size: 12px;

          img {
            width: 10px;
            height: 10px;
            top: -6px;
            margin-left: 5px;
          }
        }
      }

      &__user {
        padding: 10px;
        border-top: 2px solid #eee;

        &__thumbnail {
          width: 40px;
          height: 40px;
        }

        &__info {
          width: calc(100% - 50px);
          margin-left: 10px;
          margin-top: 2px;

          &__nickname {
            font-size: 12px;
            span {
              font-size: 12px;
            }
          }

          &__date {
            font-size: 10px;

            span {
              font-size: 10px;
            }
          }

          &__likes {
            right: 10px;
            bottom: 11px;
            font-size: 12px;

            img {
              width: 16px;
            }
          }
        }
      }
    }
  }
}
