.community-view-feed__area {
  background: #fff;
  border: 2px solid #ececec;
  border-radius: 15px;

  &__contents {
    padding: 30px;

    &__user {
      &__thumbnail {
        position: relative;
        width: 56px;
        height: 56px;
        overflow: hidden;
        border-radius: 1000px;
        float: left;
        border: 1px solid #eee;

        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__info {
        width: calc(100% - 86px);
        float: left;
        margin-left: 15px;
        margin-top: 3px;

        &__username {
          font-size: 19px;
          font-weight: 900;
          color: #232323;
        }

        &__date {
          font-weight: 700;
          font-family: "Noto Sans KR", serif, Arial;
          font-size: 14px;
          color: #555;
        }
      }
    }

    &__thumbnail {
      margin-top: 30px;
      border-radius: 15px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__category {
      font-family: "Noto Sans KR", serif, Arial;
      font-size: 14px;
      color: #fff;
      margin-top: 50px;
      display: table;
      padding: 6px 12px;
      background: #186dcf;
      border-radius: 1000px;
      font-weight: 700;
    }

    &__title {
      font-size: 24px;
      font-weight: 900;
      margin-top: 20px;
      color: #232323;
    }

    &__description {
      font-size: 17px;
      font-weight: 700;
      color: #555;
      margin-top: 30px;

      * {
        font-size: 17px !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .community-view-feed__area {
    border-radius: 5px;

    &__contents {
      padding: 10px;

      &__user {
        &__thumbnail {
          width: 40px;
          height: 40px;
        }

        &__info {
          width: calc(100% - 50px);
          margin-left: 10px;
          margin-top: 0;

          &__username {
            font-size: 14px;

            span {
              font-size: 14px;
            }
          }

          &__date {
            font-size: 12px;
            margin-top: 0px;

            span {
              font-size: 12px;
            }
          }
        }
      }

      &__thumbnail {
        margin-top: 15px;
        border-radius: 10px;
      }

      &__category {
        font-size: 12px;
        margin-top: 30px;
        padding: 6px 10px;
      }

      &__title {
        font-size: 19px;
        margin-top: 15px;
      }

      &__description {
        font-size: 14px;
        margin-top: 20px;

        * {
          font-size: 14px !important;
        }
      }
    }
  }
}
