.card__area {
  margin-top: 63px;
  padding-bottom: 150px;
  min-height: 90vh;
  background: #f5f5f5;

  &__video {
    height: calc(66vh);
    min-height: 600px;

    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    &__fade {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.1;
      z-index: 2;
    }

    &__contents {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;

      height: calc(66vh);
      min-height: 600px;
      max-width: 1440px;
      padding: 0 30px;
      margin: 0 auto;
      z-index: 3;

      &__title {
        position: absolute;
        font-size: 42px;
        font-weight: 900;
        color: #fff;
        left: 30px;
        bottom: 100px;
        z-index: 3;

        span {
          position: relative;
          font-size: 17px;
          font-weight: 700;
          color: #fff;
          top: -29px;
          left: 55px;
          padding: 12px 15px;
          background: #305f5d;
          border-radius: 5px;
        }
      }

      &__bi {
        position: absolute;
        left: 30px;
        bottom: 270px;
        height: 38px;
        animation: 0.5s infinite bi-up;
        transform: scaleX(-1);

        @keyframes bi-up {
          0% {
            bottom: 270px;
          }
          50% {
            bottom: 273px;
          }
          100% {
            bottom: 270px;
          }
        }
      }
    }
  }

  &__contents {
    z-index: 2;
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 30px;
    padding-top: 50px;

    &__lists {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        cursor: pointer;
        width: calc(25% - 37.5px);
        margin-right: 50px;
        margin-top: 50px;
        float: left;
        background: #fff;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        transition: top 0.2s;
        top: 0;

        &:hover {
          top: -10px;
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .card__area {
    &__video {
      &__contents {
        &__title {
          font-size: 32px;
        }

        &__bi {
          position: absolute;
          left: 30px;
          bottom: 234px;
          height: 38px;
          animation: 0.5s infinite bi-up;
          transform: scaleX(-1);

          @keyframes bi-up {
            0% {
              bottom: 234px;
            }
            50% {
              bottom: 237px;
            }
            100% {
              bottom: 234px;
            }
          }
        }
      }
    }

    &__contents {
      &__lists {
        li {
          cursor: pointer;
          width: calc(33.33% - 20px);
          margin-right: 30px;
          margin-top: 30px;

          &:nth-child(4n) {
            margin-right: 30px;
          }

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .card__area {
    margin-top: 49px;
    padding-bottom: 50px;

    &__video {
      height: calc(100vh - 100px);
      min-height: 0;

      &__fade {
        opacity: 0.3;
      }

      &__contents {
        height: calc(100vh - 100px);
        min-height: 0;
        padding: 0 15px;

        &__title {
          width: 90%;
          font-size: 24px;
          left: 15px;
          bottom: unset;
          top: 100px;

          span {
            font-size: 12px;
            padding: 10px 14px;
            top: -17px;
            left: 40px;
          }
        }

        &__bi {
          left: 15px;
          bottom: 194px;
          height: 30px;

          @keyframes bi-up {
            0% {
              top: 88px;
            }
            50% {
              top: 91px;
            }
            100% {
              top: 88px;
            }
          }
        }

        &__scroll {
          position: absolute;
          left: 15px;
          bottom: 100px;
          color: #fff;
          font-size: 14px;
          font-weight: 700;

          img {
            height: 15px;
            float: left;
            position: relative;
            margin-right: 10px;
            top: 2px;
          }
        }
      }
    }

    &__contents {
      padding: 0px 15px;

      &__lists {
        margin-top: 15px;

        li {
          position: relative;
          cursor: pointer;
          width: calc(50% - 7.5px);
          margin-right: 15px;
          margin-top: 15px;
          overflow: hidden;

          &:nth-child(3n) {
            margin-right: 15px;
          }

          &:nth-child(2n) {
            margin-right: 0 !important;
          }

          &:hover {
            top: 0;
          }
        }
      }
    }
  }
}
