.post-support__area {
  margin-top: 63px;
  padding-bottom: 150px;
  min-height: 90vh;

  &__contents {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 30px;
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  .post-support__area {
    margin-top: 49px;
    padding-bottom: 50px;

    &__contents {
      padding: 50px 15px;
    }
  }
}
