.view-card__area {
  margin-top: 63px;
  padding-bottom: 150px;
  min-height: 90vh;

  &__contents {
    &__top {
      background: #f5f5f5;
      padding: 50px 30px;
      &__info {
        max-width: 880px;
        margin: 0 auto;

        &__thumbnail {
          position: relative;
          width: 140px;
          height: 140px;
          overflow: hidden;
          float: left;

          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__stat {
          width: calc(100% - 140px);
          padding-left: 30px;
          float: left;
          overflow: hidden;

          &__title {
            font-size: 28px;
            font-weight: 900;
            -webkit-text-stroke: 0.02em;
            line-height: 1;
            height: 28px;
            overflow: hidden;
          }

          &__date {
            font-size: 17px;
            font-weight: 900;
            color: #555;
            margin-top: 15px;
          }

          &__author {
            font-size: 17px;
            font-weight: 700;
            color: #555;
            margin-top: 52px;
            line-height: 1;
          }

          &__list {
            cursor: pointer;
            font-family: "Noto Sans KR", serif, Arial;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 10px 10px;
            line-height: 1;
            padding-top: 9px;
            border: 2px solid rgb(114, 114, 114);
            color: #232323;
            font-weight: 700;
            font-size: 14px;
            border-radius: 5px;
            background: #fff;
          }
        }
      }
    }

    &__images {
      max-width: 880px;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      text-align: center;

      li {
        margin-top: 50px;
      }
    }
  }
}
