.community-board__area {
  position: relative;
  width: 100%;
  overflow: hidden;
  float: right;
  min-height: 100vh;

  &__contents {
    &__add {
      background: #fff;
      margin-bottom: 30px;
      border: 2px solid #eee;
      border-radius: 5px;

      &__title {
        font-size: 17px;
        font-weight: 900;
        padding: 15px 30px;
        border-bottom: 2px solid #eee;
        line-height: 1;
        padding-top: 18px;
        background: #ececec;
        color: #232323;
      }

      &__info {
        padding: 15px 30px;

        &__description {
          width: calc(100% - 100px);
          font-size: 17px;
          font-weight: 900;
          color: #555;
          float: left;
        }

        &__button {
          cursor: pointer;
          font-family: "Noto Sans KR", serif, Arial;
          padding: 6px 12px;
          background: #305f5d;
          margin-top: -2px;
          border-radius: 5px;
          color: #fff;
          font-size: 12px;
          font-weight: 700;
          float: right;
        }
      }
    }

    &__board {
      padding: 0;
      padding-top: 5px;
      margin: 0;
      overflow: hidden;
    }

    &__board-nothing {
      padding-top: calc(50vh - 240px);
      font-size: 17px;
      font-weight: 700;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .community-board__area {
    &__contents {
      &__add {
        margin-bottom: 15px;
        border-radius: 5px;

        &__title {
          font-size: 14px;
          padding: 10px;
          padding-top: 12px;
        }

        &__info {
          padding: 10px;

          &__description {
            width: calc(100% - 63px);
            font-size: 12px;
            padding-top: 2px;
          }

          &__button {
            cursor: pointer;
            font-family: "Noto Sans KR", serif, Arial;
            padding: 5px 8px;
            background: #305f5d;
            margin-top: -2px;
            border-radius: 5px;
            color: #fff;
            font-size: 10px;
            font-weight: 700;
            float: right;
          }
        }
      }

      &__board {
        padding: 0;
        padding-top: 5px;
        margin: 0;
        overflow: hidden;
      }

      &__board-nothing {
        padding-top: calc(50vh - 240px);
        font-size: 17px;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}
