.community-view-feed-comment__area {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 95px;

  &__contents {
    &__top {
      &__title {
        font-size: 19px;
        font-weight: 900;
        color: #232323;
        line-height: 1;
      }
    }

    &__input {
      margin-top: 30px;
      border-radius: 5px;
      overflow: hidden;

      textarea {
        font-family: "Noto Sans KR", serif, Arial;
        width: 100%;
        min-height: 120px;
        background: rgb(245, 245, 245);
        border: none;
        margin-left: 0px;
        margin-right: 0px;
        padding: 15px;
        padding-right: 115px;
        font-size: 14px;
      }

      &__button {
        cursor: pointer;
        font-family: "Noto Sans KR", serif, Arial;
        position: absolute;
        bottom: 25px;
        right: 15px;
        padding: 10px 15px;
        background: #fff;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 400;
        background: #304c5f;
        color: #fff;
        z-index: 2;
        border: none;
        box-shadow: none;
      }

      &__login {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #f5f5f5;
        text-align: center;
        font-size: 17px;
        font-weight: 900;
        padding: 25px 0;
        color: #555;

        &__button {
          cursor: pointer;
          position: relative;
          display: table;
          padding: 10px 15px;
          line-height: 1;
          font-size: 14px;
          background: rgb(48, 95, 93);
          color: #fff;
          margin: 0 auto;
          margin-top: 18px;
          font-family: "Noto Sans KR", serif, Arial;
          font-weight: 700;
          border-radius: 1000px;
        }
      }
    }

    &__list {
      margin-top: 30px;
      padding-top: 15px;
      border-top: 2px solid #e6e6e6;

      &__none {
        font-size: 17px;
        font-weight: 700;
        color: rgb(138, 138, 138);
        line-height: 1;
        text-align: center;
        margin-top: 18px;
      }

      &__title {
        font-size: 19px;
        font-weight: 900;
        color: #555;
        line-height: 1;
      }

      &__lists {
        margin: 0;
        margin-top: 15px;
        padding: 0;
        list-style: none;

        &__box {
          cursor: pointer;
          margin-top: 15px;
          padding: 15px;
          border: 3px solid rgb(238, 238, 238);
          border-radius: 5px;
          transition: border 0.2s, background 0.2s;
          background: #fff;

          &.now {
            border: 3px solid #305f5d !important;
            background: #305f5d !important;

            .view-support-content__area__contents__list__lists__box__title {
              color: #fff !important;
              font-weight: 700 !important;
            }

            .view-support-content__area__contents__list__lists__box__date {
              color: #fff !important;
            }
          }

          &:hover {
            border: 3px solid rgb(224, 224, 224);
            background: #fafafa;

            .view-support-content__area__contents__list__lists__box__title {
              color: #232323;
            }

            .view-support-content__area__contents__list__lists__box__date {
              color: #232323;
            }
          }

          &__title {
            font-size: 17px;
            font-weight: 900;
            color: #555;
            transition: color 0.2s;
          }

          &__date {
            font-size: 14px;
            font-weight: 700;
            color: #555;
            font-family: "Noto Sans KR", serif, Arial;
            margin-top: 15px;
            transition: color 0.2s;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .community-view-feed-comment__area {
    margin-top: 50px;

    &__contents {
      padding: 10px;

      &__top {
        &__title {
          font-size: 14px;
        }
      }

      &__input {
        margin-top: 15px;

        textarea {
          min-height: 120px;
          padding: 10px;
          padding-right: 85px;
          font-size: 12px;
        }

        &__button {
          bottom: 20px;
          right: 10px;
          padding: 8px 12px;
          font-size: 12px;
          font-weight: 700;
        }

        &__login {
          font-size: 12px;
          padding: 35px 0;
          color: #555;

          &__button {
            padding: 8px 12px;
            font-size: 12px;
            margin-top: 15px;
          }
        }
      }

      &__list {
        margin-top: 15px;
        padding-top: 0;
        border-top: 2px solid #e6e6e6;

        &__none {
          font-size: 12px;
          margin-top: 30px;
          margin-bottom: 15px;
        }

        &__title {
          font-size: 19px;
          font-weight: 900;
          color: #555;
          line-height: 1;
        }
      }
    }
  }
}
